.bg {
    height: calc(100vh - 5rem);
    width: calc(100vw - 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    text-align: center;
}

.padding-5 {
    padding: 2.5rem;
}

.summer-bg {
    background-color: #00e5ff;
}

.winter-bg {
    background-color: #152e99;
}

.bg h1, .bg h2 {
    font-weight: bold;
}

.winter-bg h1, .winter-bg h2 {
    color: #FFF;
}

.bg .fas {
    font-size: 100px;
}

.fa-snowflake {
    color: #FFF;
}

.fa-sun {
    color: #fffb00;
}

.bg .spinner-border {
    width: 30vh;
    height: 30vh;
}

.loading-bg {
    background-color: #000;
    color: #17a2b8;
}
